<div class="extra-pagination">
	{{pagination}}
</div>

{{#each (sort-by 'date:desc' posts) as |post|}}

<article class="post">
	<div class="inner">
		<header class="post-header">
			<h2 class="post-title">
        {{#link-to 'post' post.id}}
          {{post.title}}
        {{/link-to}}
      </h2>
			{{!-- <span class="post-meta">{{authors separator=", "}} {{tags prefix=(t "on ") separator=", "}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span> --}}
			<div class="clear"></div>
		</header>

		<section class="post-excerpt">
			<p>{{excerpt post.html}}&hellip;</p>
		</section>
	</div>
</article>

{{/each}}

{{pagination}}
