{{site-navigation}}

<section id="wrapper">
  {{hidden-close}}
	{{outlet}}
	<div id="body-class" style="display: none;" class="{{body_class}}"></div>

	<footer id="footer">
		<div class="inner">
			<section class="credits">
				<span class="credits-theme">{{t "Theme" }} <a href="https://github.com/stonecircle/ember-ghost-attila-template">Attila</a> {{t "by"}} <a href="http://zutrinken.com" rel="nofollow">zutrinken</a> {{t "and"}} <a href="https://stonecircle.com" rel="nofollow">Stone Circle</a></span>
				<span class="credits-software">{{t "Published with"}} <a href="https://github.com/stonecircle/ember-ghost">Ember Ghost</a></span>
			</section>
		</div>
	</footer>
</section>
