<header id="blog-header" class="{{if model.coverImage 'has-cover'}}">
	<div class="inner">
		<nav id="navigation">
			{{#if blog.logo}}
			<span class="blog-logo">
				<a href="{{blog.url}}"><img src="{{blog.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
      <span id="home-button" class="nav-button">
        {{#link-to 'index' class="home-button" title="{{t 'Home'}}"}}
          <i class="ic ic-arrow-left"></i> {{t "Home"}}
        {{/link-to}}
			</span>
			{{/if}}
			{{#if blog.navigation}}
		    {{menu-button}}
			{{/if}}
		</nav>

		{{#if model.coverImage}}
		<div class="blog-cover cover" style="background-image: url('{{model.coverImage}}');"></div>
		{{else}}
		{{#if blog.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url blog.cover}}');"></div>
		{{/if}}
		{{/if}}
	</div>
</header>

<section id="blog-author" class="{{if model.coverImage 'has-cover'}}">
	<div class="inner">

		<aside class="post-author">
			<figure class="post-author-avatar avatar">
				{{#if model.image}}
					<img src="{{model.image}}" alt="{{model.name}}" />
				{{/if}}
			</figure>
			<div class="post-author-bio">
				<h2 class="post-author-name">{{model.name}}</h2>
				{{#if model.content}}
					<p class="post-author-about">{{markdown-to-html model.content}}</p>
				{{/if}}
				{{!-- <span class="post-author-stats"><i class="ic ic-pencil"></i> {{plural ../pagination.total empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}</span> --}}
				{{#if model.location}}
					<span class="post-author-location"><i class="ic ic-location"></i> {{model.location}}</span>
				{{/if}}
				{{#if model.website}}
					<span class="post-author-website"><i class="ic ic-link"></i> <a href="{{model.website}}">{{t "Website"}}</a></span>
				{{/if}}
				{{#if model.twitter}}
					<span class="post-author-twitter"><i class="ic ic-twitter"></i> <a target="_blank" href="https://twitter.com/{{model.twitter}}">Twitter</a></span>
				{{/if}}
				{{#if model.facebook}}
					<span class="post-author-facebook"><i class="ic ic-facebook"></i> <a target="_blank" href="https://facebook.com/{{model.facebook}}">Facebook</a></span>
				{{/if}}
			</div>
			<div class="clear"></div>
		</aside>
	</div>
</section>

<div id="index" class="container">

	<main class="content" role="main">

		{{post-loop posts=model.posts}}

	</main>

</div>
