<header id="post-header" class="{{if model.post.image 'has-cover'}}">
	<div class="inner">
		<nav id="navigation">
			{{#if blog.logo}}
			<span class="blog-logo">
				<a href="{{blog.url}}"><img src="{{blog.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
      <span id="home-button" class="nav-button">
        {{#link-to 'index' class="home-button" title="{{t 'Home'}}"}}
          <i class="ic ic-arrow-left"></i> {{t "Home"}}
        {{/link-to}}
			</span>
			{{/if}}
			{{#if blog.navigation}}
			  {{menu-button}}
			{{/if}}
		</nav>
		<h1 class="post-title">{{model.title}}</h1>
		{{#if model.image}}<div class="post-cover cover" style="background-image: url('{{model.image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{markdown-to-html model.content}}
			</section>

		</div>
	</article>
</main>
